﻿<%@ Page Language="C#" %>
<!DOCTYPE html>
<html>
<head runat="server">
	<title>Default</title>
	<script runat="server">
	
	</script>
</head>
<body>
	<form id="form1" runat="server">
	
	</form>
</body>
</html>

