﻿<%@ Page Language="C#" Inherits="DBControlRoom.sample"  %>
<!DOCTYPE html>
<html>
<head runat="server">
	<title>sample</title>
</head>
<body>
	<form id="form1" runat="server">
	</form>
</body>
</html>

